.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #f1f6f7;
}
.header h1,
.header p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header p {
  font-weight: 100;
  color: gray;
  margin-top: 10px;
}
.container {
  max-width: 1100px;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-areas: "sideBar products";
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
.side_bar {
  grid-area: sideBar;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.products_container {
  grid-area: products;
  display: grid;
  grid-template-areas: "products_header" "resultOf" "products_div" "pagination";
  grid-template-rows: 100px 50px auto 50px;
}
.categories_container,
.filters_container {
  background-color: #f1f6f7;
}
.categories_header,
.filters_header {
  background-color: #384aeb;
  color: white;
  padding: 20px;
}
.categories_header p,
.filters_header p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}
.categories {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.categories ul,
.brands_filters ul,
.colors_filters ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.categories ul li,
.brands_filters ul li,
.colors_filters ul li {
  font-size: 16px;
  display: flex;
  gap: 10px;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.filters {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.brands_filters,
.colors_filters,
.price_filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.blue_btn {
  padding: 10px;
  background-color: #384aeb;
  color: white;
  border: 1px solid #384aeb;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.normal_btn {
  padding: 10px;
  background-color: #f1f6f7;
  color: black;
  border: 1px solid lightgray;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.normal_btn:hover {
  border: 1px solid gray;
}
.blue_btn:hover {
  background-color: transparent;
  color: black;
}
.products_header {
  grid-area: products_header;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 35px;
  background-color: #f1f6f7;
}

.products_header_filters {
  display: flex;
  gap: 10px;
}
.products_header_filters select {
  padding: 10px;
  border: transparent;
  color: gray;
}
.search_input_div {
  position: relative;
  display: flex;
}
.search_input_div input {
  padding: 10px;
  border: transparent;
  outline: none;
}
.search_btn {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
  color: gray;
  cursor: pointer;
}
.select {
  background-color: white;
  height: 40px;
  text-align: center;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_div,
.trending_products_div {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.products_div {
  grid-area: products_div;
  min-height: 200px;
  height: auto;
}
.products_container {
  position: relative;
}
.resultOf {
  grid-area: resultOf;
  font-size: 20px;
  margin: 10px;
  /* top: 100px; */
}
.nothingFound {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.pagination {
  margin: auto;
  grid-area: pagination;
}
.trending_product_card_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.trending_products_container {
  max-width: 1100px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.products_title {
  position: relative;
  margin-bottom: 50px;
}
.products_title h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.products_title_line {
  height: 3px;
  background-color: #384aeb;
  width: 100px;
  position: absolute;
  left: 80px;
  margin-top: 6px;
}
.trending_product_card {
  width: 250px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.trending_product_card:hover .trending_product_card_details h1 {
  color: #384aeb;
}
.trending_product_card_image_div {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.trending_product_card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trending_product_card_details {
  align-items: start;
}
.trending_product_card_details h1 {
  font-size: 16px;
}
@media (max-width: 1096px) {
  .container {
    max-width: 800px;
    grid-template-columns: 2fr 5fr;
  }
  .trending_products_container {
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
  }
  .trending_product_card {
    width: 350px;
  }
  .trending_products_div {
    justify-content: center;
  }
}
.filter_btn {
  background: transparent;
  cursor: pointer;
  display: none;
  border: none;
}
.responsive_side_bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(56, 74, 235, 0.8);
  padding: 20px;
  width: 300px;
  height: 100vh;
  backdrop-filter: blur(10px);
  animation: left_to_right 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.close_side_bar {
  background: transparent;
  border: none;
}

@keyframes left_to_right {
  0% {
    left: -300px;
  }

  100% {
    left: 0;
  }
}
@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
  .side_bar {
    display: none;
  }
  .filter_btn {
    display: block;
  }
  .trending_products_container {
    max-width: 600px;
  }
  .trending_products_div {
    justify-content: space-between;
  }
  .trending_product_card {
    width: 250px;
  }
}
@media (max-width: 550px) {
  .trending_product_card {
    width: 200px;
  }
}
@media (max-width: 440px) {
  .trending_products_container {
    max-width: 350px;
  }
  .search_input_div {
    margin-left: 20px;
  }
  .products_header_filters {
    margin-left: 30px;
    gap: 20px;
  }
  .products_header {
    gap: 10px;
    padding: 5px;
    margin-bottom: 20px;
  }
  .select {
    width: 100px;
  }
  .nothingFound h1 {
    font-size: 15px;
  }
}
